<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Analysis</title>
  <link rel="stylesheet" href="static/style/analysis.css">

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <!-- <script src="{{ url_for('static', filename='javascript/jquery-1.11.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/plots.js') }}"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   -->


   <style>
    select option[disabled] {
      color: #888;
      font-style: italic;
    }
  </style>
</head>

<body>




 

  
  <header class="header">

    <form action="/back" method="post" enctype="multipart/form-data">
      <button class="back_btn"> Back </button>
    </form>
  </header>

  <!-- Main Start here -->
  <main>

    <div class="float-container" >
        <div class="float-child" >
          
              <div class="file_choose">
                       <p name="Datainfox">Row:{{row}}</p>
                       <label for="" name="Datainfoy"> Column:{{column}}</label>
              </div>
               <h2>DataFrame Fields</h2>


              <div class="disceret" name="value" id=""><span class="align"><label style="background-color: rgb(21, 20, 20);margin-top:5px ;" for="">String Fields</label></span>
               <ul class="Clist" id="box" style="list-style-type: '&.';"></ul>
                <script>
                      const data = {{ discreteItem | tojson}};
                  let array = data;
                  for (let i = 0; i < array.length; i++) {
                    let list = document.createElement('li');
                    list.innerText = array[i];
                    document.querySelector('#box').appendChild(list);
                  }
                </script>

              </div>




               <div class="cont_filed"><span class="align"><label style="background-color: rgb(21, 20, 20); border: 2px solid whitesmoke;" for="">Number Fields</label></span>
                        <ul id="Cbox" class="Clist" style="list-style-type: '#.';"></ul>
                        <script>
                          const Cdata = {{ IntegerItem | tojson}};

                          let Carray = Cdata;
                          for (let i = 0; i < Carray.length; i++) {
                            let list = document.createElement('li');
                            list.innerText = Carray[i];
                            document.querySelector('#Cbox').appendChild(list);
                          }
                        </script>
                 </div>
      </div>


      
      <!-- Second child of float -->
      
      <div class="float-child" id="getData">

        <div class="container_second" style=" margin-top: 10px; height: 150px;">
          <h2 style="text-align: center; margin-top: 5px;">Filter</h2>
          <input type="text" class="tb1" name="top_data" id="top_data" placeholder="X-Lable" style="width: 90px;">
          <input type="text" class="tb2" name="bottom_data" id="bottom_data" placeholder="Y-Lable" style="width: 90px;">
          <input type="radio" name="ad" value="total ascending" checked style="margin-left: 10px;">Ascending
          <input type="radio" name="ad" value="total descending" >Descending <br>
          <input type="radio" id = "h" name="hv" value="Horizontal" checked style="margin-left: 10px; margin-top: 10px;">Horizontal
          <input type="radio" id = "v" name="hv" value="Vertical" >Vertical
        </div>
        
        <h2 style="text-align: center; margin-top: 5px;">Marks</h2>
        
        <!-- chart list x -axis y -axis operation title  -->
        <div class="chart">
          <select name="chart_menu" id="chart_menu" class="chart_inside">
            <option disabled selected value>-- Select Type --</option>
            <option value="bc" selected>Bar Chart</option>
            <option value="pc">Pie Chart</option>
            <option value="hc">Histrogram</option>
            <option value="lb">Line Bar</option>
            <option value="sp">Scatter Plot</option>
            <option value="bct">Box Chart</option>
            <option value="dp">Donut Pie Chart</option>
          </select>
        </div>

        <div style="display: inline-block;" class="axis_xy">
         X-Axis
          <select class="chart_inside" name="xaxis" id="xaxis" placeholder="X Axis">
            <!-- <option disabled selected value>-- Select X-Axis --</option> -->
          </select>
          <script> const datax = {{ IntegerItemx | tojson}};
            let xarray = datax;
            for (let i = 0; i < xarray.length; i++) {
              let list = document.createElement('option');
              list.innerText = xarray[i];
              document.querySelector('#xaxis').appendChild(list);
            }</script>

          <br>
         
         
          
          Y-Axis
          <select class="chart_inside" name="yaxis" id="yaxis" palceholder="Y Axis">
            <!-- <option disabled selected value>-- Select Y-Axis --</option> -->
          </select>
          <script> const data2 = {{ discreteItemy | tojson}};
            let yarray = data2;
            for (let i = 0; i < yarray.length; i++) {
              let list = document.createElement('option');
              list.innerText = yarray[i];
              document.querySelector('#yaxis').appendChild(list);
            }</script>
        </div>


        Color Field
        <select class="chart_inside" name="colorc" id="colorc" placeholder="X Axis">
          <!-- <option disabled selected value>-- Select Color Field --</option> -->
        </select>
        <script> const datac = {{ colorc| tojson}};
          let carray = datac;
          for (let i = 0; i < carray.length; i++) {
            let list = document.createElement('option');
            list.innerText = carray[i];
            document.querySelector('#colorc').appendChild(list);
          }</script>

        <br>


        <!-- <div style="display: inline-block; " class="operation">
         <select name="operation_menu" id="operation_menu" class="chart_inside">
           
            <option value="sum" >Sum</option>
            <option value="avg">Average</option>
            <option value="min">Minimum</option>
            <option value="max">Maximum</option>
          </select>
        </div> -->

       



        <div class="chart_Title">
         
          <input type="text" name="chart_title" id="chart_title" class="chart_inside" placeholder="Chart Title">
          <input type="submit" name="buttons" value="Plot" id="plot_button" class="chart_inside btn">
        </div>


      </div>

    </div>


    <!-- chart display -->
    <div class="float-child container_chart " style="background-color: rgb(8, 8, 8); width: 1075px; text-align: center; ">
      <span class="title_change" ><label for="" style="position: fixed;">New Chart</label></span>
      <div class="container_chart show_chart" name="show_chart" id="chart">

        <script>
          var graph = {{ chart| safe }};
          Plotly.plot('chart', graph, {});
        </script>

      </div>

    </div>
    </div>

  </main>

  <script src="{{ url_for('static', filename='javascript/jquery-1.11.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/plots.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
</body>

</html>