<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Based Platform for Data analysis</title>
    <link rel="stylesheet" href="static/style/index.css">
</head>
<body>
  
<header class="top">
    <nav class="navbar" id="nav_bar">
        <h1 class="data" style="color: whitesmoke; margin-left:10px;">Data</h1><h2 class="analysis" style="color:black; margin-left:10px;">Analysis</h2>
      <ul class="menu">
          <li><a href="#home_page"> Home</a></li>
          <li><a href="#about_page">About</a></li>
          <li><a href="#service_page">Services</a></li>
          <li><a href="#contact_page">Contact</a></li>
          <li class="start" ><a href="C:\Users\shivs\OneDrive\Desktop\TryingSometing\Web Basd Paltform for Analysis\Project\Backend\template\fileUplod.html">Start free</a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="home" id="home_page">
        <div class="div1">
        <p style="color: whitesmoke; display: inline;">Hello,<p style="color: green; display: inline;">I'm</p></p>
        <h2>Data Analyzer</h2>
        <p >I will helps You to convert your boring data into interserting pictorical format Free! </p>   
        <img class="img1" src="static/image/home.png" alt="homeimage">
    </div><form action="/upload" method="post" enctype="multipart/form-data">
    <button type="submit" class="btn">Start Free </button></form></div>
   
   
    <div class="  about" id="about_page"> <div class="div2"><h3 style="text-align: center;"> About Me</h3><p class="info">A web-based platform for data analysis is an online software application that allows  users to access , analyze and manipulate data from anywhere with an internet connection using a web browser. This type of platform provides an alternative to traditional desktop - based software for data analysis,such as Microsoft Excel or Tableau by offering greater flexibility,scalability etc. Web based platforms for data analysis typically  include a range of features and tools users manage and analyze their data.These may include data visualization tools.It provides online data analysis without storing your data. Website is able to accept the file from the user  for data analysis .This Website is able to satisfy user expectations such as showing pictorial representation of the data such as bar chart , time series , pie chart , and so on.</p></div></div>
   
    <div class=" services" id="service_page">
        <h3 style="text-align: center; font-size:x-large; margin-bottom: 30px;">What I Do</h3>
        <div class="div3">
        <div class="s1"><img class="icon" src="static/image/clean.png" alt=""><h4>Data Cleaning</h4><p>Delete all none value records before visualization</p></div>
        <div class="s1"><img class="icon" src="static/image/visuali.png" alt=""><h4>Data Visualization</h4><p>Show the chart based on slected fields by user</p></div>
        <div class="s1"><img class="icon" src="static/image/Download.png" alt=""><h4>Easy To Download</h4><p>You can easily download your work</p></div>
    </div></div>

     
    <div class=" contact" id="contact_page">
        <h3 style="text-align: center; font-size:x-large; margin-bottom: 30px;">Contact Us</h3>
         <div style="display: inline-block;">
        <input class="enter" type="text" name="name" id="" placeholder="Enter Your Name" style="margin-left: 350px;">
        <input class="enter" type="email" name="email" id="" placeholder="Enter Your Email" >
        <textarea class="com" name="comment" id="" cols="30" rows="10" placeholder="Comment"></textarea>
        <button type="submit" class="btn" style="margin-top: 30px; ">Send Message</button>
    </div>
     
</div>
</main>

<footer class="footer">&copy;dataanalysis.com Mobile No.8888888815 Address:Building No. 4 B Wing,Shastri Nagar, Jalgaon - 425001</footer>
</body>
</html>