*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.top{
    position: fixed;
    width: 100%;
}

 .navbar{
    background-color: green;
    height: 90px;
   padding: 20px;
   box-sizing: border-box;
  
 
 }
 a{
   text-decoration: none;
   color: whitesmoke;
}

 .analysis{
    display: inline-block;
   
 }

 .menu{
    color: whitesmoke;
    list-style: none;
    display: inline-block;
    text-align: right;
    position: absolute;   
 
 }
 a{
    text-decoration: none;
    color: whitesmoke;
 }
 ul li{
    display: inline-block;
    margin-left: 100px;
    
 }

 .home{
  background-color: black;
  height: 800px;
  width: 100%;
  padding:100px;
  color: whitesmoke;
  align-items: center;
  box-sizing: border-box;
  
 }
 .img1{
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-left: 350px;
    box-sizing: border-box;
   
  
   
 }
 .div1{
     margin-left: 90px;
     padding: 50px;
     line-height: 1.8;
     border: 2px white;
 }
 
.btn{
    border-radius: 15px ;
    border: 2px solid whitesmoke;
    height: 50px;
    width: 150px;
    background-color: rgba(55, 211, 55, 0.776);
    color: whitesmoke;
    margin-bottom: 50px;
    margin-left: 590px;
    box-sizing: border-box;
    
   
}







 .about{
    background-color: rgba(0, 0, 0, 0.918);
    height: 700px;
    color: whitesmoke;
   
 }
 .div2{
    margin-left: 90px;
    margin-right:20px;
     padding: 50px;
     font-size:x-large;
 }
 .info{
  margin-top:20px ;
  line-height: 1.8;
 }


 .services{
    background-color: black;
    height: 700px;
    color: whitesmoke;
    padding-top: 70px;
 }

 .div3{
    padding: 10px;
    text-align: center;
   
    background-color: rgba(0, 0, 0, 0.918);
  
 }
 .s1{
    width: 300px;
    height: 300px;
    margin: 45px;
    padding: 20px;
   line-height: 1.8;
    box-sizing: border-box;
    display: inline-block;
    align-items: center; 
    background-color:rgba(15, 15, 15, 0.918);
    border-radius: 5px;
   
 }

.icon{
    width: 100px;
}

 .contact{
    background-color: rgba(0, 0, 0, 0.918);
    height: 700px;
    color: whitesmoke;
    padding: 20px;
  
 }

 .enter{
    background-color: black;
    width: 350px;
    height: 50px;
    margin:20px;
    border-radius: 5px;
    box-sizing: border-box;
    color: whitesmoke;
    padding: 10px; 
    border: black;
    
 }
.com{
    width: 650px;
    height: 300px;
    display: block;
    border-radius: 5px;
    margin-top: 20px;
    background-color: black;
    border-radius: 5px;
    color: whitesmoke;
    padding: 50px;
    margin-left: 350px;
    border: black;
}

.upward{
    width: 50px;
    display: inline-block;
    margin-left: 190px;
}

.start{
    border: 2px solid black;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    background-color: black;
   padding: 3px;
}

.footer{
    background-color: green;
    text-align: center;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
}